/* BODY */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');

body{
  display: flex;
  text-align: center;
  background-color: white;
  /* color: white; */
  margin-left: 8%;
  font-family: 'Baloo Tamma 2', cursive;
}

@media (max-width: 600px) {
    body {
    margin: 0;
  }
}

#root{
  margin-top: 25px;
}
/* HOME CSS */

.homeDiv{
  /* border: 1px solid black; */
  background: gray;
  color: white;
  width: 73vw;
  border-radius: 15px;
  padding: 15px;
}
/* MODAL PICTURE */
#modalPic{
  max-width: 99%;
}

.modal-content{
  border: 1px solid black;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6),
    0 22px 70px 4px rgba(0, 0, 0, 0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);
  
}

@media (min-width: 600px) {
  .modal-dialog{
    position: relative;
    width: 500px;
    bottom: 50%;
  }
}

/* HOME PAGE PICTURE */
@media (min-width: 600px) {
.searchedImages{
  display: flex;
  flex-direction: row;
  width: 25%;
  height: 1%;
  padding: 3%;
  justify-content: space-around;
  flex-wrap: wrap;
}
}

@media (min-width: 600px) {
  .searchedImages {
    display: inline-grid;
    flex-direction: row;
    width: 50%;
    height: 7%;
    padding: 3%;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.searchedImage{
  border-radius: 15px 15px;
  width: 90%;
  height: 100%;
  margin: 5%;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6),
    0 22px 70px 4px rgba(0, 0, 0, 0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);
}

.searchedImageModal {
  position: fixed;
  bottom: 55px;
  z-index: 1;
  /* background-color: white; */
  /* width: 50%; */
  height: 10%;
  /* border: 1px solid #ccc; */
  /* box-shadow: 1px 1px 1px black; */
  /* padding: 16px; */
  border: 15px 15px;
  left: 15%;
  bottom: 85%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  
}

@media (max-width: 600px) {
  .searchedImageModal {
      position: fixed;
      top: 10%;
      width: 350px;
      left: calc(50% - 175px);
  }
}

@media (max-height: 600px) {
  .searchedImageModal {
      position: fixed;
      top: 5%;
      /* width: 300px; */
      /* height: 25px; */
      right: calc(50% - 275px);
  }
}

@media(min-width: 600px) {
  .searchedImageModal {
    position: fixed;
    top: 10%;
    left: calc(50% - 250px);
  }
}

/* MY LIST CSS */
@media (min-width: 1000px){
  .myListDivPic{
    width: 100%;
  }
  .myListDiv{
    display: inline-flex !important;
  }
}
  .myListDiv{
    display: flex;
    flex-direction: column;
    margin: 2%;
    border-radius: 15px 15px;
    padding: 1%;
    background-color: white;
    width: 50%;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6),
      0 22px 70px 4px rgba(0, 0, 0, 0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);
  }


@media (max-width: 1000px) {
  .myListDivPic{
    border-radius: 4px 4px;
    width: 100%;
    height: 84%;
  }

  .myListDiv{
    width: 44%;
    padding: 2;
    padding-bottom: 4%;
    /* height: 100%; */
  }
  .mylistContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
}


/* LOGIN CSS */
.loginDiv{
  display: inline-grid;
  border: 1px solid black;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6),
  0 22px 70px 4px rgba(0, 0, 0, 0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);
  border-radius: 15px 15px;

}

.signUpDiv {
  width: 300px;
  border: 1px solid black;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6),
  0 22px 70px 4px rgba(0, 0, 0, 0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);
  border-radius: 15px 15px;
}

@media (max-width: 600px) {
  .loginDiv{
    margin: 30%;
    margin-left: 38%;
  }
  .signUpDiv{
    margin: 30%;
    margin-left: 32%;
  }
}

@media (min-width: 600px) {
  .loginDiv, .signUpDiv{
    margin: 30%;
    margin-left: 38%;
  }
}

/* NAVBAR */

.fixed-top, .navBarButtons{
  background-color: rgba(8, 106, 235, 0.856);
  /* border-color: #7e1111c2; */

}

.navBarButtons{
  display: flex;
  justify-content: space-around;
}
