/* BODY */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');

body{
  text-align: center !important;
  /* margin-top: 5%; */
  font-family: 'Baloo Tamma 2', cursive;
}

@media (max-width: 600px) {
    body {
    margin: 0;
  }
}

#root{
  margin-top: 25px;
}
/* HOME CSS */

.homeDiv{
  
  background: rgb(119, 32, 32);
  color: white;
  border-radius: 15px;
  padding: 8px;
}

/* MODAL PICTURE */
/* #modalPic{
  max-width: 99%;
} */

.modal-content{
  border: 1px solid black;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6),
    0 22px 70px 4px rgba(0, 0, 0, 0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);
  text-align: center;
}
.modalPicture{
  width: 100%;
  margin-bottom: 5%;
  object-fit: cover;
}

@media (min-width: 600px) {
  .modal-dialog{
    position: relative;
    width: 500px;
    bottom: 50%;
  }
}

/* HOME PAGE PICTURE */


@media (max-width: 600px) {
  .searchedImage {
    padding: 0.5%;
    height: 95vw !important;

  }
}

.imagesDiv{
  border: 1px solid black;
  background: white;
  height: auto;
  justify-content: center;
  padding: 3vw 0 3vw 0;
  border: 3px solid white;
  border-radius: 5px;
}

.horizontalView{
  display: flex !important;
  flex-direction: row !important;
  overflow: scroll;
  justify-content: space-between;
  margin-bottom: 5%;
  
}

.searchedImage{
  height: 35vw;
}

.searchedImageModal {
  position: fixed;
  bottom: 55px;
  z-index: 1;
  height: 10%;
  border: 15px 15px;
  left: 15%;
  bottom: 85%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

@media (max-width: 600px) {
  .searchedImageModal {
      position: fixed;
      top: 10%;
      width: 350px;
      left: calc(50% - 175px);
  }
}

@media (max-height: 600px) {
  .searchedImageModal {
      position: fixed;
      top: 5%;
      right: calc(50% - 275px);
  }
}

@media(min-width: 600px) {
  .searchedImageModal {
    position: fixed;
    top: 10%;
    left: calc(50% - 250px);
  }
}

.picContainer, .mylistContainerOverflow{
  overflow: auto;
  max-height: 80%;
}


/* MY LIST CSS */
@media (min-width: 1000px){
  .myListDivPic{
    border-radius: 4px 4px;
    width: 100%;
    height: 84%;
  }
  .myListDiv{
    width: 44%;
    padding: 2;
    padding-bottom: 4%;
  }

  .mylistContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

 
}

.mylistContainer{
  height: 1%;

}
  .myListDiv{
    display: flex;
    flex-direction: column;
    margin-bottom: 15%;
    margin: 3%;
    border-radius: 15px 15px;
    padding: 1%;
    height: 100%;
    background-color: white;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6),
      0 22px 70px 4px rgba(0, 0, 0, 0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);
  }


@media (max-width: 1000px) {
  .myListDivPic{
    border-radius: 4px 4px;
    width: 100%;
    height: 84%;
  }

  .myListDiv{
    width: 44%;
    padding: 2;
    padding-bottom: 4%;
  }
  .mylistContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
}

.listText{
  color: white;
}

/* LOGIN CSS */
.loginDiv{
  color: white;
  display: flex;
  justify-content: center;
  margin-left: 23%;
  max-width: 60%;
  border: 1px solid black;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6),
  0 22px 70px 4px rgba(0, 0, 0, 0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);
  border-radius: 15px 15px;
}

.signUpDiv {
  display: flex;
  justify-content: center;
  margin-left: 23%;
  max-width: 60%;
  border: 1px solid black;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6),
  0 22px 70px 4px rgba(0, 0, 0, 0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);
  border-radius: 15px 15px;
  color: white;
}

@media (max-width: 700px) {
  body{
    margin-top: 20%;
  }
}

/* ABOUT PAGE */
.aboutDiv{
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 23%;
  max-width: 60%;
  border: 1px solid black;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6),
  0 22px 70px 4px rgba(0, 0, 0, 0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);
  border-radius: 15px 15px;
}
/* NAVBAR */

.fixed-top, .navBarButtons{
  background: rgb(119, 32, 32);
  border-color: rgb(119, 32, 32);
}

.navBarButtons{
  display: flex;
  justify-content: space-around;
}

/* FOOTER */
.footer{
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
}